@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Boldonse";
    src: url("/fonts/Boldonse.woff2") format("woff2");
  }
}

/* Subscriptions Pagination */
.subscriptions-pagination {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: absolute;
}

.subscriptions-pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background: #d6d3d1;
}

.subscriptions-pagination .swiper-pagination-bullet-active {
  background: #57534e;
}

/* Testimonials Pagination */
.testimonials-pagination {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: absolute;
}

.testimonials-pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background: #d6d3d1;
}

.testimonials-pagination .swiper-pagination-bullet-active {
  background: #57534e;
}
